    <div class="table-responsive">
      <table class="table table-bordered" *ngIf="users && users.length">
        <thead>
          <tr class="bg-primary">
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Contact Preference</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.contactPereference}}</td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
